.vscode
.devcontainer

# esp-idf will generate sdkconfig.TARGETs from sdkconfig.defaults.
sdkconfig.*
!sdkconfig.defaults

# ESP-IDF Component Manager
managed_components/

# Rust
# dotenv file so cargo remembers env from being invoked through platformio
.lastcargobuildenv

.embuild
target/
